@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#banner {
  border-bottom: none;
  margin-top: -20px;
  color: white;
}

#doggy {
  position: relative;
  max-height: 125px;
  top: 20px;
}

#banner h1 {
  letter-spacing: 1px;
  font-weight: 100;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
}

.panel-heading h3{
  color: black;
}

.hero-border {
  height: 85%;
  width: 85%;
  margin: 0px auto;
  border: 5px solid ghostwhite;
}

.hero-unit {
  position: relative;
  height: 500px;
  background: url("./bookreader-smaller.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.is-josefin {
  font-family: 'Josefin Sans', Courier, monospace;
}

.hero-image {
  max-height: 300px;
}

@media (min-width: 800px) { 
  #banner h1 {
    font-size: 8em;
  }
}

@media (max-width: 900px) {
  #doggy {
    display: none;
  }
}

@media (max-width: 800px) {
  .hero-unit {
    background-attachment: scroll;
  }

  .flex-baseline {
    align-items: center !important;
  }

  .stack-when-small {
    flex-direction: column-reverse;
  }
  
  .center-when-small {
    text-align: center;
  }
}

