// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300,700,400italic);

// Modals
@import "partials/modal";

@import "margins-and-padding";

/*$bg-img: url("./bookstack.jpg");*/

// Homepage
@import "partials/homepage";

@import "partials/forms";

@import "partials/dashboard";

// Body
$font-stack: 'Open Sans', sans-serif;
$main-background: #EFEFEF;
$blue: #337ab7;
$white: #fff;


// Navigation
$hover-background: #E7E7E7;
$hover-text: #555;

html, body{ 
  min-height: 100vh;
  overflow: auto;
}

body {
  position: relative;
  padding-top: 51px;
}

.gradient {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);  background-repeat: no-repeat;
  background-size: auto;
}

.gradient-2 {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: -20px;
}

.faq {
  margin-top: 70px;
}

.pad-right {
  padding-right: 15px;
}

.slight-margin-right {
  margin-right: 2%;
}

.margin-left {
  margin-left: 5%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.panel.no-min-height {
  min-height: 0;
}

.wrapper {
  min-height: 100%;
  margin-top: 20px;
}

.panel {
  min-height: 320px;
  -webkit-box-shadow: 6px 8px 18px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 6px 8px 18px -1px rgba(0,0,0,0.25);
  box-shadow: 6px 8px 18px -1px rgba(0,0,0,0.25);
  padding: 15px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header-padded {
  padding: 15px 0;
}

.pad-bottom {
  padding-bottom: 30px;
}

.pad-left {
  padding-left: 15px;
}

.pad-25 {
  padding: 25px;
}

.pad-50 {
  padding: 50px;
}

.blue {
  background-color: $blue;
  color: white;
}

.is-white-background {
  background-color: $white;
}

.good-text {
  color: green;
}

.bad-text {
  color: red;
}

.whisper {
  color: darkgray;
  font-style: italic;
}

.flex-between {
  display: flex;
  justify-content: space-around;
}

.scroller-medium  {
  max-height: 250px;
  max-width:  400px;
  overflow-y: scroll;
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.is-gray-background {
  background-color: #FAFAFA;
}

.push-down {
  margin-top: 60px;
}

.thick-border {
  border: 5px solid;
}

.black-border {
  border-color: black;
}

.white-boarder {
  border-color: white;
}

.max-height-150 {
  max-height: 150px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-center {
  clear: both;
  text-align: center;
}

.flex-baseline {
  align-items: baseline;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $hover-text;
  background-color: $hover-background;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

ul.footer-nav {
  padding:0;
  margin: 0;

  >li {
    display:inline-block;
    padding-right:5px;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer-nav li::after {
  content: " |";
}

.footer-nav li:last-of-type::after {
  content: "";
}

p.copyright>span {
  color: #777;
}
