// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400italic);

// Modals
@import "partials/modal";

/*$bg-img: url("./bookstack.jpg");*/

// Homepage
@import "partials/homepage";

@import "partials/forms";

@import "partials/dashboard";

// Body
$font-stack: 'Open Sans', sans-serif;
$main-background: #EFEFEF;
$blue: #337ab7;
$white: #fff;


// Navigation
$hover-background: #E7E7E7;
$hover-text: #555;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: $main-background;
  padding-top: 70px;
  min-height: 100%;
  position: relative;
}

.faq {
  margin-top: 70px;
}

.pad-right {
  padding-right: 15px;
}

.wrapper {
  min-height: 100%;
}

.panel {
  min-height: 270px;
}

.left {
  float: left;
}

.header-padded {
  padding: 15px 0;
}

.pad-bottom {
  padding-bottom: 30px;
}

.blue {
  background-color: $blue;
  color: white;
}

.is-white-background {
  background-color: $white;
}

.good-text {
  color: green;
}

.bad-text {
  color: red;
}

.whisper {
  color: darkgray;
  font-style: italic;
}

.cursor {
  cursor: pointer;
}

.is-gray-background {
  background-color: #FAFAFA;
}

.push-down {
  margin-top: 60px;
}

.thick-border {
  border: 5px solid;
}

.black-border {
  border-color: black;
}

.white-boarder {
  border-color: white;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $hover-text;
  background-color: $hover-background;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

ul.footer-nav {
  padding:0;
  margin: 0;

  >li {
    display:inline-block;
    padding-right:5px;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer-nav li::after {
  content: " |";
}

.footer-nav li:last-of-type::after {
  content: "";
}

p.copyright>span {
  color: #777;
}